<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>
    Hey this is main menu<br>
    You have the following options:<br>
    <form action="{{ url_for('send') }}" method="post">
        <input type="hidden" name="send_option" />
        <button>Send a Message</button>
    </form>
    <form action="{{ url_for('receive') }}" method="post">
        <input type="hidden" name="receive_option" />
        <button>Receive a Message</button>
    </form>

</body>

</html>